.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.zoomOnFocus{
  :hover{
    transform:scale(1.2) rotate(-5deg);
    object-fit: cover;
  }
}

.body{
    background-color: $siteBackground;
}

.btn-green{

    background: $headerBackground;
}
.borderOnHover:hover{
border-color: $headerBackground;
}
.border{
    border: black;
}
.borderMargin{
    margin: 5px;
}

.content_center {
  display: flex;
  justify-content: center;
  align-items: center; 
}
*::selection {
    background: green;
    color: #fff;
}