$siteBackground: #9cdb98;
$headerBackground:#28a745;
$footerBackground:#80ad7e;
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: $footerBackground;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.nav {
    background-color: $headerBackground;
    color: white !important;
    .nav-link:hover{
        color: white !important;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bolder;
        background-color: #176629;
        border-radius: 15px;
    }
}
// body{
//     background-color: $siteBackground;
// }

.lineThrough{
  color:rgb(88, 86, 86);
  text-decoration: line-through;
}

.inline{
    display: inline-block !important;
}

.search{
    background-color: rgb(5, 112, 28);
    border-radius: 10px;
}
.searchinput{
    border-radius: 10px;
}

.zoomOnFocus{
  :hover{
    transform:scale(1.2) rotate(-5deg);
    object-fit: cover;
  }
}

.productBody{
    background-color: rgb(231, 236, 231);
}
